/* Sticky footer styles
-------------------------------------------------- */
  
  #footer{
    position:relative;
    bottom:0;
    width:100%;
    height: 400px;       
    background-image: linear-gradient(to right, #1B3409, #3d9109)
  }
